#contain{
	display: flex;
	justify-content: center;
	/* align-items: center; */
	/* margin-top: 1rem; */
	/* height: 100vh; */
	font-size: 2rem;
	width: 100%
	
	
	}
	input{
	width:30rem;
	font-size: 2rem;
	height: 3rem;
	margin-top: 1rem;
	border-radius: 1rem;
	
	
	}
	#add{
		background-color: blue;
		color: white;
	}
	h1,h3{
		text-align: center;
	}
	#head{
		background-color:lime;
	}
	#sl{
		background-color: rgb(165, 203, 253);
		color: blue;
	}